@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'scaup';
  src: url('/fonts/scaup-regular-webfont.woff2') format('woff2'),
       url('/fonts/scaup-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


body {
  @apply text-lg;
  background-color: #FFFCF9;
}

h1 {
  @apply text-3xl font-serif pb-12 pt-8;
} 

h2 {
  @apply font-sans font-bold pb-2 pt-8;
}

h3 {
  @apply font-sans pb-4 pt-8;
}

p {
  @apply font-sans ;
}

.big-text {
  @apply text-3xl font-serif pb-8 md:max-w-[60%]
}

.small-text {
  @apply font-sans
}

.scaup, .scaup * {
  font-family: 'scaup', sans-serif;
}

a {
  @apply border-b border-black inline text-[#086BFF] hover:text-red-500 underline;
}

a.image {
  @apply border-0;
}

.carousel-image {
  max-height: 70vh;
  max-width: 70vw;
}

.copy {
  @apply font-serif;
}

.copy a {
  @apply inline-block  border-0 font-sans;
  &.more-link {
    @apply mt-3
  }
}

/* .copy a:before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 24 24' fill='none' stroke='%23086BFF' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71'%3E%3C/path%3E%3Cpath d='M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71'%3E%3C/path%3E%3C/svg%3E");
  padding-right: 4px;
  width: 12px;
}

.copy a:hover:before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 24 24' fill='none' stroke='%23EF4444' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71'%3E%3C/path%3E%3Cpath d='M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71'%3E%3C/path%3E%3C/svg%3E");
  padding-right: 4px;
  width: 12px;
} */

.copy img {
  @apply mt-6;
}

blockquote p {
  @apply italic font-serif leading-6;
}

.copy hr {
  @apply my-6 border-black
}

.copy ul {
  @apply list-disc list-inside font-sans;
  ul {
    @apply list-[circle] list-inside ml-4;
  }
}
